<mtapp:setting
    id="pass_period"
    label="<__trans phrase="Password Expired">">
    <label><input type="text" name="pass_period" value="<mt:var name="pass_period" escape="html">" style="width:40px" /> <__trans phrase="days"></label>
</mtapp:setting>